.activeToolContainer {
  display: flex;
  flex-direction: column;
  width: 185px;
  height: auto;
  color: #c3c2b7;
}

.toolsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 0;
}
