.colorsContainer {
  @include grid-center;
  grid-template-rows: auto auto 20px;
  gap: $gap-xs;
  padding: $padding-xs;
}

.colorsGrid {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;
}

.color {
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: $border-radius-xs;
  cursor: pointer;
}

.shadesContainer {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 36px;
}

.inputColorContainer {
  @include flex-center;
  width: 100%;
}

.colorInput {
  height: 20px;
  outline: none;
  width: 176px;
}
