.rangePickerContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 0;
}

.activeValue {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 25px;
  width: 25px;
  font-size: 18px;
  border-radius: 2px;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 142px;
  height: 4px;
  background: #c3c2b7;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  accent-color: #c3c2b7;
}
