.colorPickerContainer {
  width: 185px;
  align-items: center;
  margin: 5px 0 5px 0;
  grid-template-columns: repeat(7, 1fr);
  display: grid;
  gap: 4px;
}

.colorBlock {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.colorBlock:nth-child(5) {
  margin-right: 5px;
}

.wrapper {
  position: relative;
}

.activeColor {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
}
