.colorPickerContainer {
  width: 185px;
  height: 44px;
  display: flex;
}

.colorsContainer {
  display: flex;
}

.colorBlock {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 2px;
  border-radius: 2px;
}

.wrapper {
  position: relative;
}

.activeColor {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 2px;
  border-radius: 2px;
}
