.colorPickerContainer {
  width: 185px;
  align-items: center;
  margin: $margin-xs 0 $margin-xs 0;
  grid-template-columns: repeat(7, 1fr);
  display: grid;
  gap: $gap-xs;
}

.colorBlock {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: $border-radius-xs;
}

.colorBlock:nth-child(5) {
  margin-right: $margin-xs;
}

.wrapper {
  position: relative;
}

.activeColor {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: $border-radius-xs;
}
